node_modules

# compiled output
/dist
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
/coverage
/.nyc_output

# OS
.DS_Store

# IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build info
*.tsbuildinfo

# Environment files (secrets)
.env
.env.local
.env.*.local
